.footer {
    background-color: #2F303A;
    width: 100%;

    &_conteiner {
        width: 100%;
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 15px;
        padding-right: 15px;

        &--box {
            width: 100%;
            max-width: 1170px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding-top: 60px;
            padding-bottom: 60px;

            &--logo {
                font-family: Roboto;
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                letter-spacing: 3%;
                color: #FFFFFF;
                margin-bottom: 20px;
            }

            &--address {
                font-family: Roboto;
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                letter-spacing: 3%;
                color: #FFFFFF;
                margin-bottom: 9px;
            }

            &--nav {
                font-family: Roboto;
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                letter-spacing: 3%;
                color: rgba(255, 255, 255, 0.6);
                margin-bottom: 9px;
            }
        }

        &--join {
            width: 100%;
            max-width: 206px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;

            &--title {
                font-family: Roboto;
                font-weight: 700;
                font-size: 14px;
                line-height: 100%;
                letter-spacing: 3%;
                text-transform: uppercase;
                color: #FFFFFF;
                margin-bottom: 20px;
            }

            &--contact {
                width: 100%;
                max-width: 206px;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                align-items: center;

                &--box :hover {
                    background-color: #2196F3;
                    border-radius: 100%;
                    transition: 500ms ease-in-out;
                }

                &--box:hover .footer_conteiner--join--contact--box--svg path {
                    fill: #ffffff;
                    transition: 500ms ease-out;
                }

            }
        }

        &--inp {
            width: 100%;
            max-width: 570px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            margin-left: 93px;

            &--title {
                font-family: Roboto;
                font-weight: 700;
                font-size: 14px;
                line-height: 100%;
                letter-spacing: 3%;
                text-transform: uppercase;
                color: #FFFFFF;
                margin-bottom: 20px;
            }

            &--box {
                width: 100%;
                max-width: 570px;
                margin: 0 auto;
                display: flex;
                gap: 12px;

                &--input {
                    max-width: 358px;
                    font-family: Roboto;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;
                    letter-spacing: 3%;
                    vertical-align: middle;
                    color: #FFFFFF99;
                    padding: 15px 295px 15px 16px;
                    background-color: #2F303A;
                    border: 1px solid #FFFFFF4D;
                    border-radius: 4px;
                }

                &--button {
                    width: 100%;
                    max-width: 200px;
                    margin: 0 auto;
                    font-family: Roboto;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 30px;
                    letter-spacing: 6%;
                    text-align: center;
                    vertical-align: middle;
                    color: #FFFFFF;
                    background-color: #2196F3;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 10px;
                    cursor: pointer;
                    border: none;
                    border-radius: 4px;
                    padding: 10px 28px;
                }
            }
        }
    }

}