.secbutton {
    width: 100%;
    background-image: url("./img/baclground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 0 280px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &_greyscreen {
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        &--screen {
            max-width: 696px;
            font-family: Roboto;
            font-weight: 900;
            font-size: 44px;
            line-height: 60px;
            letter-spacing: 6%;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
        }

        &--button {
            font-family: Roboto;
            font-weight: 700;
            font-size: 16px;
            line-height: 30px;
            letter-spacing: 6%;
            text-align: center;
            vertical-align: middle;
            color: #FFFFFF;
            background-color: #2196F3;
            border-radius: 6px;
            border: none;
            padding: 10px 32px;
            margin-top: 30px;
            cursor: pointer;
        }
    }
}

.info {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 94px;
    margin-bottom: 94px;
    padding-left: 15px;
    padding-right: 15px;

    &_card {
        width: 100%;
        max-width: 270px;

        &--img {
            width: 100%;
            max-width: 270px;
            margin: 0 auto;
            padding: 25px 100px;
            margin-bottom: 30px;
            background-color: #F5F4FA;
            border-radius: 2px;

            &--photo {
                margin: 0 auto;
            }
        }

        &--title {
            font-family: Roboto;
            font-weight: 700;
            font-size: 14px;
            line-height: 100%;
            letter-spacing: 3%;
            text-transform: uppercase;
            color: #212121;
            margin-bottom: 10px;
        }

        &--text {
            font-family: Roboto;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 3%;
            color: #757575;
        }
    }
}

.aboutus {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
    display: block;

    &_title {
        font-family: Roboto;
        font-weight: 700;
        font-size: 36px;
        line-height: 100%;
        letter-spacing: 3%;
        text-align: center;
        color: #212121;
        margin-bottom: 50px;
    }

    &_photos {
        width: 100%;
        max-width: 1170px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 94px;

        &--box {
            width: 100%;
            max-width: 370px;
            position: relative;
            z-index: 1;

            &--text {
                width: 100%;
                max-width: 370px;
                position: absolute;
                font-family: Roboto;
                font-weight: 700;
                font-size: 14px;
                line-height: 100%;
                letter-spacing: 3%;
                text-align: center;
                text-transform: uppercase;
                color: #FFFFFF;
                background-color: #2F303ACC;
                z-index: 10;
                left: 0px;
                bottom: 3px;
                padding: 27px 107px;
            }
        }
    }
}

.ourteam {
    background-color: #F5F4FA;
    padding-bottom: 94px;
    padding-left: 15px;
    padding-right: 15px;

    &_title {
        font-family: Roboto;
        font-weight: 700;
        font-size: 36px;
        line-height: 100%;
        letter-spacing: 3%;
        text-align: center;
        color: #212121;
        padding: 94px;
        margin-bottom: 50px;
    }

    &_people {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        &--conteiner {
            width: 100%;
            max-width: 270px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            background-color: #FFFFFF;
            box-shadow: 0px 2px 1px 0px #00000033;

            box-shadow: 0px 1px 1px 0px #00000024;

            box-shadow: 0px 1px 3px 0px #0000001F;

            &--name {
                font-family: Roboto;
                font-weight: 500;
                font-size: 16px;
                line-height: 100%;
                letter-spacing: 3%;
                text-align: center;
                color: #212121;
                margin: 0 auto;
                margin-top: 30px;
                margin-bottom: 10px;
                width: 100%;
                max-width: 145px;
            }

            &--work {
                font-family: Roboto;
                font-weight: 400;
                font-size: 16px;
                line-height: 100%;
                letter-spacing: 3%;
                text-align: center;
                color: #757575;
                margin-bottom: 16px;
            }

            &--contact {
                width: 100%;
                max-width: 206px;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                margin-bottom: 30px;

                .ourteam_people--conteiner--contact--box {
                    transition: 500ms ease-in-out;
                    width: 44px;
                    height: 44px;

                    &:hover {
                        background-color: #2196F3;
                        border-radius: 100%;

                        .ourteam_people--conteiner--contact--box--svg {
                            path {
                                fill: #ffffff;
                            }
                        }
                    }
                }

                .clients_box--conteiner {
                    &:hover {
                        .clients_box--conteiner--client {
                            path {
                                fill: #2196F3;
                            }

                            rect {
                                stroke: #2196F3;
                            }
                        }
                    }
                }




            }
        }
    }

}

.clients {
    &_title {
        font-family: Roboto;
        font-weight: 700;
        font-size: 36px;
        line-height: 100%;
        letter-spacing: 3%;
        text-align: center;
        color: #212121;
        margin-top: 94px;
        margin-bottom: 50px;

    }

    &_box {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        margin-bottom: 94px;
        padding-left: 15px;
        padding-right: 15px;

        &--conteiner {
            padding: 16px 32px;
            border: 1px solid #AFB1B8;
            transition: 500ms ease-in-out;
            border-radius: 4px;
            transition: border-color 500ms ease-in-out;

            &--client path {
                transition: fill 500ms ease-in-out;
            }

            &--client--client rect {
                transition: stroke 500ms ease-in-out;
            }
        }

        &--conteiner:hover .clients_box--conteiner--client path {
            fill: #2196F3;
        }

        &--conteiner:hover {
            border-color: #2196F3;
        }
    }
}