@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {      
  text-decoration: none;               
  outline: none;              
}
.header {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_logo {
    width: 100%;
    max-width: 519px;
    display: flex;
    justify-content: space-between;
}

.header_logo--navig {
    width: 100%;
    max-width: 281px;
    display: flex;
    justify-content: space-between;
}

.header_logo--navig--box--link {
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 2%;
    color: #212121;
    transition: ease-in-out 500ms;
}

.header_logo--navig--box--link:hover {
    color: #2196F3;
}

.header_logo--navig--box {
    width: 100%;
    max-width: 45px;
    position: relative;
}

.header_logo--navig--box:hover .header_logo--navig--box--one {
    opacity: 1;
    transition: ease-in-out 500ms;
}

.header_logo--navig--box--one {
    width: 44px;
    height: 4px;
    background-color: #2196F3;
    border: none;
    border-radius: 2px;
    position: absolute;
    bottom: -25px;
    opacity: 0;
    transition: ease-in-out 500ms;
}

.header_logo--navig--box:hover .header_logo--navig--box--two {
    opacity: 1;
    transition: ease-in-out 500ms;
}

.header_logo--navig--box--two {
    width: 72px;
    height: 4px;
    background-color: #2196F3;
    border: none;
    border-radius: 2px;
    position: absolute;
    bottom: -25px;
    opacity: 0;
    transition: ease-in-out 500ms;
}

.header_logo--navig--box:hover .header_logo--navig--box--three {
    opacity: 1;
    transition: ease-in-out 500ms;
}

.header_logo--navig--box--three {
    width: 64px;
    height: 4px;
    background-color: #2196F3;
    border: none;
    border-radius: 2px;
    position: absolute;
    bottom: -25px;
    opacity: 0;
    transition: ease-in-out 500ms;
}

.header_link {
    width: 100%;
    max-width: 333px;
    display: flex;
    gap: 30px;
    align-items: center;
}
.header_link--box {
   width: 100%;
   max-width: 161px;
   margin: 0 auto;
   display: flex;
   gap: 10px; 
   align-items: center;
}
.header_link--box--contact {
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 2%;
    color: #757575;
    transition: 0.3s ease, color 0.3s ease;
}
.header_link--box--contact:hover {
    color: #2196F3;
}
.header_link--box:hover .header_link--box--svg path {
    fill: #2196F3;
    transition: 0.3s ease, color 0.3s ease;
}
.main {
    border-top: 1px solid #ECECEC ;
    padding-bottom: 94px;
}
.main_buttons {
    width: 100%;
    max-width: 575px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 94px;
    margin-bottom: 34px;
}
.main_buttons--button {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 3%;
    text-align: center;
    color: #212121;
    border: none;
    border-radius: 6px;
    background-color: #F5F4FA;
    transition: background-color 0.3s ease, color 0.3s ease;
    padding: 6px 25px;
    cursor: pointer;
}
.main_buttons--button:hover {
    background-color: #2196F3;
    color: #FFFFFF;
}
                                                                                                                /* карточки */
.main_cards {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main_cards--card {
    width: 100%;
    max-width: 370px;
    border: 1px solid #EEEEEE;
    margin-top: 30px;
    position: relative;
    z-index: 21;
}
.main_cards--card:hover {
    box-shadow: 1px 4px 6px 0px #00000029;

    box-shadow: 0px 4px 4px 0px #0000000F;

    box-shadow: 0px 1px 1px 0px #0000001F;
}
.main_cards--card--photo {
    width: 100%;
    max-width: 370px;
    height: 294px;
    object-fit: cover;  
    z-index: 1;
}
.main_cards--card--blue {
    width: 100%;
    transition: 500ms ease-out;
    z-index: 10;
    background-color: #2196F3;
    opacity: 0;
    position: absolute;
    top: 40px;
    left: 0px;
}
.main_cards--card--blue--text {
    width: 100%;
    max-width: 370px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 3%;
    color: white;
    opacity: 0;
    padding: 63px 24px;
}
.main_cards--card:hover .main_cards--card--blue {
    opacity: 1;
    background-color: #2196F3E5;
    transition: 500ms ease-in-out;
    transform: translateY(-40px);
    z-index: 21;
}
.main_cards:hover .main_cards--card--blue--text {
    opacity: 1;
    z-index: 20;
    transition: 500ms ease-in-out;
}

.main_cards--card--box--title {
    font-family: Roboto;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 6%;
    color: #212121;
    margin-top: 20px;
    margin-bottom: 4px;
    margin-left: 24px;
}
.main_cards--card--box--text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 3%;
    color: #757575;
    margin-bottom: 20px;
    margin-left: 24px;
}
.main_cards--card--box {
    z-index: 30;
}
                        /* карточки */
.footer {
    background-color: #2F303A;
    width: 100%;
}
.footer_conteiner--box {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer_conteiner--box--logo {
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 3%;
    color: #FFFFFF;
    margin-bottom: 20px;    
}
.footer_conteiner--box--logo--nav {
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 3%;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 9px;
}
.footer_conteiner--box--logo--address {
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 3%;
    color :#FFFFFF;
    margin-bottom: 9px;
}
.footer_conteiner--join {
    width: 100%;
    max-width: 206px;
    display: flex;
    flex-direction: column;
}
.footer_conteiner--join_title {
    font-family: Roboto;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 3%;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.footer_conteiner--join_contact {
    width: 100%;
    max-width: 206px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_conteiner {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_conteiner--join_contact--box :hover {
    background-color: #2196F3;
    border-radius: 100%;
    transition: 500ms ease-out;
}
.footer_conteiner--join_contact--box:hover .footer_conteiner--join_contact--box--svg path {
  fill: #ffffff;
  transition: 500ms ease-in-out;
}
.footer_conteiner--inp {
    width: 100%;
    max-width: 570px;
    display: flex;
    flex-direction: column;
    margin-left: 93px;
}
.footer_conteiner--inp--title {
    font-family: Roboto;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 3%;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.footer_conteiner--inp--box {
    width: 100%;
    max-width: 570px;
    margin: 0 auto;
    display: flex;
    gap: 12px;
}
.footer_conteiner--inp--box--input {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 3%;
    vertical-align: middle;
    color: #FFFFFF99;
    padding: 15px 295px 15px 16px;
    background-color: #2F303A;
    border: 1px solid #FFFFFF4D;
    border-radius: 4px;
}
.footer_conteiner--inp--box--button {
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 6%;
    text-align: center;
    vertical-align: middle;
    color: #FFFFFF;
    background-color: #2196F3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 10px 28px;
}