@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    outline: none;
}
@import "header";
@import "modal";
@import "main";
@import "footer";
@import "adaptive.scss";